{% extends 'template.html' %}

{% block content %}
    <div class="customer-profile">
        <h3>Transktioner för {{ account.customer.namn }}</h3>
        <p>Total Saldo: <strong>{{ total_balance|round(2) }} SEK</strong></p>
    </div>
    <table class="customer-profile">
        <thead>
            <tr>
                <th>Amount</th>
                <th>Transaction Type</th>
                <th>Tid</th>
            </tr>
        </thead>
        <tbody>
            {% for transaction in transactions_paginated.items %}
                <tr>
                    <td>{{ transaction.amount|round(2) }}</td>
                    <td>{{ transaction.transaction_type }}</td>
                    <td>{{ transaction.timestamp }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <div class="customer-profile">
        {% for page_num in transactions_paginated.iter_pages() %}
            {% if page_num %}
                {% if transactions_paginated.page == page_num %}
                    <strong>{{ page_num }}</strong>
                {% else %}
                    <a href="{{ url_for('accounttransactions', account_id=account.id, order=order, page=page_num) }}">{{ page_num }}</a>
                {% endif %}
            {% else %}
                <span class="ellipsis">...</span>
            {% endif %}
        {% endfor %}
    
        {% if transactions_paginated.has_next %}
            <a href="{{ url_for('accounttransactions', account_id=account.id, order=order, page=transactions_paginated.next_num) }}">Next</a>
        {% endif %}
        {% if transactions_paginated.has_prev %}
            <a href="{{ url_for('accounttransactions', account_id=account.id, order=order, page=transactions_paginated.prev_num) }}">Prev</a>
        {% endif %}
    </div>
{% endblock %}
