{% extends 'template.html' %}

{% block content %}
    <h3>Transactions for {{ account.customer.namn }}</h3>
    <p>Total Balance: <strong>{{ total_balance|round(2) }} SEK</strong></p>
    <table class="table">
        <thead>
            <tr>
                <th>Amount</th>
                <th>Transaction Type</th>
                <th>
                    Timestamp
                    <a href="{{ url_for('accounttransactions', account_id=account.id, order='asc' if order == 'desc' else 'desc') }}">
                        {% if order == 'asc' %}
                            &#x25BC;  <!-- Downward arrow symbol -->
                        {% else %}
                            &#x25B2;  <!-- Upward arrow symbol -->
                        {% endif %}
                    </a>
                </th>
            </tr>
        </thead>
        <tbody>
            {% for transaction in transactions_paginated.items %}
                <tr>
                    <td>{{ transaction.amount|round(2) }}</td>
                    <td>{{ transaction.transaction_type }}</td>
                    <td>{{ transaction.timestamp }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <div>
        {% for page_num in transactions_paginated.iter_pages() %}
            {% if page_num %}
                {% if transactions_paginated.page == page_num %}
                    <strong>{{ page_num }}</strong>
                {% else %}
                    <a href="{{ url_for('accounttransactions', account_id=account.id, order=order, page=page_num) }}">{{ page_num }}</a>
                {% endif %}
            {% else %}
                <span class="ellipsis">...</span>
            {% endif %}
        {% endfor %}
    </div>
    {% if transactions_paginated.has_next %}
        <a href="{{ url_for('accounttransactions', account_id=account.id, order=order, page=transactions_paginated.next_num) }}">Next</a>
    {% endif %}
    {% if transactions_paginated.has_prev %}
        <a href="{{ url_for('accounttransactions', account_id=account.id, order=order, page=transactions_paginated.prev_num) }}">Prev</a>
    {% endif %}
{% endblock %}
