{% extends 'template.html' %}

{% block content %}
<div class="search-container">
    <form class="search-form" action="{{ url_for('search') }}" method="GET">
        <input class="search-input" type="text" name="search_query" id="search_query" placeholder="Ange KundID eller Personnummer" required>
        <button class="search-button" type="submit">Sök:</button>
    </form>
</div>
<div class="search-container1">
    {% if results %}
        <h3>Search Results:</h3>
        {% for customer in results %}
        <table class="table">
            <thead>
                <tr>
                    <th>Customer Name</th>
                    <th>Email</th>
                    <th>Personnummer</th>
                    <th>City</th>
                    <th>Account 1</th>
                    <th>Account 2</th>
                    <th>Account 3</th>
                </tr>
            </thead>
            <tbody>
                {% for customer in results %}
                    <tr>
                        <td>{{ customer.namn }}</td>
                        <td>{{ customer.email }}</td>
                        <td>{{ customer.personnummer }}</td>
                        <td>{{ customer.city }}</td>
                        <td><a href="{{ url_for('accounttransactions', account_id=customer.accounts[0].id) }}">{{ customer.accounts[0].account_number }}</a></td>
                        <td><a href="{{ url_for('accounttransactions', account_id=customer.accounts[1].id) }}">{{ customer.accounts[1].account_number }}</a></td>
                        <td><a href="{{ url_for('accounttransactions', account_id=customer.accounts[2].id) }}">{{ customer.accounts[2].account_number }}</a></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        {% endfor %}
    {% else %}
        <p>No results found.</p>
    {% endif %}
</div>
{% endblock %}

