{% extends 'template.html' %}

{% block content %}
    <section>
        <h2>Överföring Godkänd.</h2>
        <p>Godkänd Överföring av <b>{{ transfer_amount }}</b> SEK från kontot <b>{{ from_account.account_number }}</b> som tillhör <b>{{ from_account.customer.namn }}</b> till kontot <b>{{ to_account.account_number }}</b> som tillhör <b>{{ to_account.customer.namn }}</b>.</p>
        <p>Transaktions Datum: {{ transfer_from_transaction.timestamp }}</p>
        <p>Nya saldot för  {{ from_account.account_number }} är {{ from_account.balance }} SEK.</p>
    </section>
{% endblock %}
